/* Poppins font family link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family:"Poppins", sans-serif;
}

/* header styles start */

.header-main{
    
}

.nav-main{
    width:90%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    margin-top:4%;
}

.influencer-title{
    color:rgb(58, 58, 58);
font-size:1.4rem;
font-weight:700;
}

.bars-icon{
    display:none;
}

.nav-bars{
    display:flex;
    justify-content:space-evenly;
    gap:30px;
    margin-top:0.9rem;
}

.unordered-list{
    display:flex;
    justify-content:space-between;
    gap:40px;
    list-style:none;
    color:rgb(58, 58, 58);
    font-size:1rem;
    font-weight:600;
}

.unordered-list>i{
    font-size:25px;
    margin-top:0.4rem;
}

li, 
i:hover{
    cursor:pointer;
}

.parent-full-content{
    display:flex;
    justify-content:space-between;
    gap:7%;
}

.header-text-content{
    width:50%;
    margin-top:6rem;
    margin-left:5%;
    text-align:left;
}

.heading-title{
    color:rgb(58, 58, 58);
    font-size:3.2rem;
    font-weight:700;
}

.heading-description{
    color:rgb(58, 58, 58);
    font-size:1rem;
    font-weight:600;
}

.btn1{
    width:196px;
    height:44px;
    color:rgb(255, 255, 255);
    font-size:1rem;
    font-weight:700;
    background-color:rgb(224, 44, 109);
    border-radius:2rem;
    border:none;
    margin-top:1rem;
}

.header-image-content1{
    display:none;
    width:50%;
    margin-top:4%;
}

.header-image-content1 img{
    width:90%;
    background-image:url('../images/Circle\ design.svg');
    background-size:cover;
    background-repeat:no-repeat;
}

.header-image-content2{
    width:50%;
    margin-top:4%;
}

.header-image-content2 img{
    width:90%;
    background-image:url('../images/Circle\ design.svg');
    background-size:cover;
    background-repeat:no-repeat;
}

/* header styles end */

/* online market sites section styles start */

.market-sites-section{
    width:80%;
    height:100px;
    margin:0 auto;
    margin-top:5.5rem;
}

.logos-container{
    width:90%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    box-sizing:border-box;
    background-color:#f1f1f1;
    border-radius:0.8rem;
    box-shadow:20px 15px 10px rgba(119, 119, 119, 0.5);
    margin-top:2rem;
    padding:0.5rem 0.8rem;
}

.logo img{
   width:90%;
}

.amazon{
    margin-top:0.5rem;
}

.daraz, 
.rakuten, 
.walmart{
    margin-top:0.3rem;
}

.ebay{
    margin-top:0.1rem;
}

.logo img:hover{
    cursor:pointer;
    background-color:blueviolet;
    border-radius:1rem;
    padding:0.3rem;
}

/* online market sites section styles end */